body{
    background-color:rgb(238, 238, 238) ;
    margin: 0px;
}
h1{
    color: rgb(238, 238, 238);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.banner{
    background-color: rgb(80, 140, 155);
    height: 150px;
    font-size: 30px;
}
.buttons{
    display: flex;
    align-items: end;
    gap: 100px;
    justify-content: center;
}
button{
    background-color: rgb(238, 238, 238) ;
    border: 1px;
    width: 100px;
    height: 20px;
    border-radius: 5px;
}
a{
    color: rgb(32, 30, 67);
}
img{
    width: 450px;
    height: 300px;
    margin-left: 20px;
    border-radius: 10px;
}
.img1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 60px;
}
.img2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 60px;
    margin-bottom: 50px;
}
